.container {
  display: flex;
  justify-content: center;
  padding: 24px 24px 0;
  background-color: #ffff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 14px;
position: relative;
}

.content h1 {
  font-size: 60px;
  text-align: center;
  color: rgb(0, 0, 0);
}


.footer h6 {
  font-weight: 400;
  font-size: 18px;
  padding: 12px;
  border-radius: 4px;
  background: #f3e306;
  text-align: center;
}

.footer h6 span {
  font-weight: 600;
  margin-left: 4px;
  padding: 2px 4px;
  border-radius: 2px;
  background: #8a8484;
}


