/* * {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;  
} */

/* body {
  background: blue;
} */


body, input, button {
  color: #FFFFFF;
  font: 400 16px 'Fredoka', sans-serif;
}

body {
  width: 60%;

  margin: 0 auto;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  background: #8989ec;
  border: 5px solid rgb(10, 10, 10);

  
}

button:hover {
  cursor: pointer;
}